.button {
  border: 1px solid;
  padding: 0.5rem;
  cursor: pointer;
  min-width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--light {
    color: $color-gray;
    background-color: $color-white;
    border-color: $color-gray;

    &:hover {
      color: $color-dark-gray;
      background-color: $color-light-gray;
      border-color: $color-dark-gray;
    }
  }

  &--dark {
    background-color: $color-dark-gray;
    border-color: $color-dark-gray;
    color: $color-white;

    &:hover {
      background-color: $color-black;
      border-color: $color-black;
    }
  }
}

